body {
    background-image: linear-gradient(135deg, rgb(228, 197, 243), rgb(206, 81, 231));
    background-size: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}
.clicky:hover {
    background-color: rgb(112, 2, 2);
    color: white;
    box-shadow: 0px 5px 10px 5px rgb(71, 68, 73);
    border-radius: 30px;
    padding: 5px 15px;
}
.item:hover {
    box-shadow: 0px 5px 10px rgb(46, 74, 92);
}
.item:hover > hr {
    display: none;
}
.item:hover > .fas {
    color: rgb(112, 2, 2);
}
@media only screen and (max-width: 400px) {
    #grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        grid-auto-rows: 40%;
    }
    p {
        display: none;
    }
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
    #grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-auto-rows: 40%;
    }
}
@media only screen and (min-width: 768px) {
    #grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
        grid-auto-rows: 40%;
    }
}
.item {
    background-color: white;
    text-align: center;
    padding: 15px 20px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(130, 152, 167);
}
hr {
    width: 50%;
    background-color:rgb(219, 175, 240);
    opacity: 0.5;}
.fas {
    color: rgb(0, 0, 0);
}